.footer {
  background: #1e1e1e;
  color: white;
  text-align: center;
  padding: 15px 3%;  /* Reduced padding for a thinner appearance */
  width: 94%;  /* Decreased width */
 
}

.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-link svg {
  font-size: 1.1rem;
}

.footer-link:hover {
  color: #00aaff;
}

.footer-copy {
  font-size: 0.8rem;
  opacity: 0.6;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    width: 75%; /* Adjusts width for smaller screens */
    padding: 12px 5%;
  }
}
