.footer {
  color: #333;
  padding-top: 50px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.footer h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.footerLinks {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.footerLink {
  color: #333;
  text-decoration: none;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.footerLink:hover {
  color: #0077b5;
  transform: scale(
    1.05
  ); /* Slightly scale up on hover for a more interactive feel */
}

.footerLink svg {
  font-size: 1.3rem;
}

.footerCopy {
  font-size: 0.9rem;
  color: #666;
  margin-top: 20px;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .footer {
    padding: 40px 5%;
  }

  .footer h2 {
    font-size: 1.8rem;
  }

  .footerLinks {
    flex-direction: column;
    gap: 10px;
  }

  .footerCopy {
    font-size: 0.8rem;
  }
}
